### 1. Print numbers from 1 to 10 using a for loop

In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [2]:
for i in range(21):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [3]:
string='Python'
for i in string:
    print(i)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [4]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [5]:
l=[1,2,4,5,3,32,23,7,8]
for i in l:
    print(i)

1
2
4
5
3
32
23
7
8

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [7]:
sum=0
for i in range(51):
    sum+=i
print("Sum of numbers from 1 to 100= ",sum)

Sum of numbers from 1 to 100=  1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [8]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [9]:
for i in range(1,11):
    print(7*i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [10]:
count=0
vowel='aeiou'
string='education'
for i in string:
    if i in vowel:
        count+=1
print("Total vowel in string= ",count)

Total vowel in string=  5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [11]:
for i in range(1,31):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [14]:
string='AeSfsafnWsaAS'
count=0
for i in string:
    if i.isupper():
        count+=1
print('Number of upper case= ',count)

Number of upper case=  5

### 12. Create a new list that contains only the positive numbers from another list

In [15]:
ls=[1,2,-4,1,-2,-4,-5,12,4]
lsp=[i for i in ls if i>=0]
lsp

[1, 2, 1, 12, 4]

### 13. Print numbers from 1 to 10 using a while loop

In [19]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [20]:
i=1
while i<=10:
    print(5*i)
    i+=1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [21]:
i=10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [4]:
i=1
while i==0:
    i=int(input("Enter number- "))

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [8]:
i=1
sum=0
while i<=10:
    sum+=i
    i+=1
print("Sum of first 10 natural numbers= ",sum)

Sum of first 10 natural numbers=  55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [1]:
fruit={'apple':120,'banana':50,'pineapple':100,'watermelon':150,'guava':60}
for i in fruit.keys():
    print(i)

apple
banana
pineapple
watermelon
guava

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [2]:
fruit={'apple':120,'banana':50,'pineapple':100,'watermelon':150,'guava':60}
for i in fruit.values():
    print(i)

120
50
100
150
60

### 20. Print both keys and values of a dictionary using a for loop

In [3]:
fruit={'apple':120,'banana':50,'pineapple':100,'watermelon':150,'guava':60}
for key,val in fruit.items():
    print(key,val)

apple 120
banana 50
pineapple 100
watermelon 150
guava 60

### 21. Count how many keys are in a dictionary using a for loop

In [5]:
fruit={'apple':120,'banana':50,'pineapple':100,'watermelon':150,'guava':60}
count=0
for i in fruit.keys():
    count+=1
count

5

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [6]:
fruit={'apple':120,'banana':50,'pineapple':100,'watermelon':150,'guava':60}
for i in fruit.keys():
    if i.startswith('a'):
        print(i)

apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [7]:
stu={'abc':70,'def':80,'ghi':85,'jkl':90}
for key,val in stu.items():
    if val>80:
        print(key)

ghi
jkl

### 24. Given a dictionary, print the sum of all the values using a for loop

In [8]:
stu={'abc':70,'def':80,'ghi':85,'jkl':90}
sum=0
for i in stu.values():
    sum+=i
sum

325

### 25. Given a dictionary, find the key with the highest value using a for loop

In [13]:
stu={'abc':70,'def':80,'ghi':85,'jkl':90}
max='abc'
for key,val in stu.items():
    if val>stu[max]:
        max=key
stu[max]

90

### 26. Convert all dictionary keys into a list using a for loop

In [14]:
stu={'abc':70,'def':80,'ghi':85,'jkl':90}
ls=[]
for i in stu.keys():
    ls.append(i)
ls

['abc', 'def', 'ghi', 'jkl']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [15]:
nm={'sumedh':6,'ajinkya':7,'aniket':6,'ruturaj':7,'sham':4}
for key,val in nm.items():
    print(key,val)

sumedh 6
ajinkya 7
aniket 6
ruturaj 7
sham 4

### 28. Given a list of numbers, print only numbers greater than 10

In [16]:
ls=[1,2,4,124,1,42,421,412,4,2,5,77,3,0,14,44124,2141121,]
for i in ls:
    if i>10:
        print(i)

124
42
421
412
77
14
44124
2141121

### 29. Count how many elements in a list are integers using a for loop

In [17]:
ls=[1,2,4,124,1,42,421,412,1.2,'asfg',4,2,5,14,'as']
count=0
for i in ls:
    if isinstance(i,int):
        count+=1
count

12

### 30. Print the sum of all even numbers in a list using a for loop

In [19]:
ls=[i for i in range(1,30)]
sum=0
for i in ls:
    if i%2!=0:
        sum+=i
sum

225

### 31. Print the cube of each number in a list of 5 numbers

In [20]:
ls=[1,2,3,4,5]
for i in ls:
    print(i**3)

1
8
27
64
125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [23]:
string='Python is fun '
p=''
for i in string:
    if i==' ':
        print(p)
        p=''
    else:
        p+=i

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [24]:
for i in range(1,6):
    print(i*3)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [25]:
ls=['Apple','Mango','Ant','And','Mouse']
for i in ls:
    if i[0]=='A':
        print(i)

Apple
Ant
And

### 35. Find the largest number in a list using a for loop

In [27]:
ls=[1,2,5,12,12,3,32,34,121,4,12,67]
max=0
for i in ls:
    if i>max:
        max=i
max

121

### 36. Print the index and value of each element in a list

In [32]:
ls=[1,2,5,12,12,3,32,34,121,4,12,67]
for i in range(len(ls)):
    print(f'{i}     {ls[i]}')

0     1
1     2
2     5
3     12
4     12
5     3
6     32
7     34
8     121
9     4
10     12
11     67

### 37. Create a dictionary with 5 students and their marks

In [33]:
stu={'abc':70,'def':80,'ghi':85,'jkl':90}
for i,j in stu.items():
    print(i,j)

abc 70
def 80
ghi 85
jkl 90

### 38. Use a for loop to print all student names

In [34]:
stu={'abc':70,'def':80,'ghi':85,'jkl':90}
for i in stu.keys():
    print(i)

abc
def
ghi
jkl

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [43]:
fruit={'apple':120,'banana':50,'pineapple':100,'watermelon':150,'guava':60}
for i,j in fruit.items():
    print(f'{i}     {j}')

apple     120
banana     50
pineapple     100
watermelon     150
guava     60

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [45]:
fruit={'apple':120,'banana':50,'pineapple':100,'watermelon':150,'guava':60}
for i in fruit.keys():
    fruit[i]=fruit[i]+(fruit[i]*0.1)
fruit

{'apple': 132.0,
 'banana': 55.0,
 'pineapple': 110.0,
 'watermelon': 165.0,
 'guava': 66.0}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [10]:
dict={i:i*10 for i in range(11)}
print(dict)
for key in list(dict.keys()):
    if dict[key]<50:
        dict.pop(key)
        
dict

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}

{5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [11]:
student_marks = {"Math": 95,"Science": 88,"History": 76,"English": 92}
student_marks['Hindi']=78
for k,v in student_marks.items():
    print(k,v)

Math 95
Science 88
History 76
English 92
Hindi 78

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [14]:
stu={'abc':21,'def':24,'ghi':22,'jkl':26}
print(stu)
for i in stu.keys():
    stu[i]=stu[i]+1
stu

{'abc': 21, 'def': 24, 'ghi': 22, 'jkl': 26}

{'abc': 22, 'def': 25, 'ghi': 23, 'jkl': 27}

### 44. Print numbers from 0 to 9 using range()

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [16]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [17]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [18]:
ls=[1,2,4,12,14,1,412,412,41]
len(ls)

9

### 48. Print the length of a given string using len()

In [19]:
string='Python'
len(string)

6

### 49. Use range() and len() to iterate over a list by index and print each element

In [20]:
ls=[1,2,4,12,14,1,412,412,41]
for i in range(len(ls)):
    print(ls[i])

1
2
4
12
14
1
412
412
41

### 50. Print the sum of numbers from 1 to 100 using range()

In [23]:
sum(i for i in range(1,101))

5050