# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
di={'name':'Sumedh','age':25,'city':'kop'}
di

{'name': 'Sumedh', 'age': 25, 'city': 'kop'}

2. Create a dictionary and print the value of a specific key.

In [4]:
di={i:i*i for i in range(1,6)}
print(di)
di[2]

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

4

3. Make a dictionary and add a new key-value pair to it.

In [3]:
di={i:i*i for i in range(1,6)}
print(di)
di[6]=36
di

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

4. Create a dictionary and change the value of an existing key.

In [5]:
di={i:i*i for i in range(1,6)}
print(di)
di[5]=22
di

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 22}

5. Create a dictionary and remove one key using pop().

In [8]:
print(di)
di.pop(5)
di

{1: 1, 2: 4, 3: 9, 4: 16, 5: 22}

{1: 1, 2: 4, 3: 9, 4: 16}

6. Create a dictionary and remove the last inserted item using popitem().

In [10]:
di={i:i*i for i in range(1,6)}
print(di)
di.popitem()
di

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16}

7. Create a dictionary and print all the keys.

In [12]:
di={i:i*i for i in range(1,6)}
print(di)
for key in di.keys():
    print(key)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
1
2
3
4
5

8. Create a dictionary and print all the values.

In [13]:
di={i:i*i for i in range(1,6)}
print(di)
for val in di.values():
    print(val)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
1
4
9
16
25

9. Create a dictionary and print all the key-value items.

In [17]:
di={i:i*i for i in range(1,6)}
print(di)
for key,val in di.items():
    print(key,val)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
1 1
2 4
3 9
4 16
5 25

10. Make a dictionary and check the number of items using len().

In [19]:
di={i:i*i for i in range(1,6)}
print(di)
len(di)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

5

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [1]:
di1={'a':23,'b':45,'c':76,'d':45}
print(di1)
'b' in di1

{'a': 23, 'b': 45, 'c': 76, 'd': 45}

True

12. Create an empty dictionary and add two key-value pairs one by one.

In [2]:
di2={}
print(di2)
di2[1]='abc'
di2[2]='xyz'
di2

{}

{1: 'abc', 2: 'xyz'}

13. Create a dictionary and update one keyâ€™s value using update().

In [4]:
di1={'a':23,'b':45,'c':76,'d':45}
di1.update({'b':56})
di1

{'a': 23, 'b': 56, 'c': 76, 'd': 45}

14. Create two dictionaries and combine them using update().

In [7]:
di1={'a':23,'b':45,'c':76,'d':45}
print(di1)
di2={'e':56,'f':76,'g':23}
print(di2)
di1.update(di2)
di1

{'a': 23, 'b': 45, 'c': 76, 'd': 45}
{'e': 56, 'f': 76, 'g': 23}

{'a': 23, 'b': 45, 'c': 76, 'd': 45, 'e': 56, 'f': 76, 'g': 23}

15. Make a dictionary and get the value of a key using get().

In [8]:
di1={'a':23,'b':45,'c':76,'d':45}
print(di1)
di1.get('b')

{'a': 23, 'b': 45, 'c': 76, 'd': 45}

45

16. Create a dictionary and print its type using type().

In [9]:
di1={'a':23,'b':45,'c':76,'d':45}
print(di1)
type(di1)

{'a': 23, 'b': 45, 'c': 76, 'd': 45}

dict

17. Create a dictionary and replace one value with a new one.

In [10]:
di1={'a':23,'b':45,'c':76,'d':45}
print(di1)
di1['c']=42
di1

{'a': 23, 'b': 45, 'c': 76, 'd': 45}

{'a': 23, 'b': 45, 'c': 42, 'd': 45}

18. Create a dictionary and clear all items using clear().

In [11]:
di1={'a':23,'b':45,'c':76,'d':45}
print(di1)
di1.clear()
di1

{'a': 23, 'b': 45, 'c': 76, 'd': 45}

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [12]:
name={1:'Sumedh',2:'Ajinkya',3:'Ruturaj',4:'Aniket',5:'Sham'}
name

{1: 'Sumedh', 2: 'Ajinkya', 3: 'Ruturaj', 4: 'Aniket', 5: 'Sham'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [13]:
name={1:'Sumedh',2:'Ajinkya',3:'Ruturaj',4:'Aniket',5:'Sham'}
print("first dictionary= ",name)
nm=name.copy()
print('Copy of dictionary= ',nm)

first dictionary=  {1: 'Sumedh', 2: 'Ajinkya', 3: 'Ruturaj', 4: 'Aniket', 5: 'Sham'}
Copy of dictionary=  {1: 'Sumedh', 2: 'Ajinkya', 3: 'Ruturaj', 4: 'Aniket', 5: 'Sham'}