# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [8]:
ls=[1,2,3,4,5]
print(ls)
ls.append(6)
ls

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [9]:
fruits=['apple','banana','pineapple',"watermelon"]
print(fruits)
fruits.insert(1,'mango')
fruits

['apple', 'banana', 'pineapple', 'watermelon']

['apple', 'mango', 'banana', 'pineapple', 'watermelon']

3. Create a list of names and remove one name from the list.

In [10]:
name=['sumedh','ajinkya','pavan','gaurav']
print(name)
name.remove('gaurav')
name

['sumedh', 'ajinkya', 'pavan', 'gaurav']

['sumedh', 'ajinkya', 'pavan']

4. Create a list of 4 items and change the value at index 2.

In [12]:
items=['abc','xyz','pqr','stu']
print(items)
items[2]='efg'
items

['abc', 'xyz', 'pqr', 'stu']

['abc', 'xyz', 'efg', 'stu']

5. Make a list of numbers and print only the first three elements.

In [14]:
fruits=['apple','banana','pineapple',"watermelon",'guava']
print(fruits)
fruits[:3]

['apple', 'banana', 'pineapple', 'watermelon', 'guava']

['apple', 'banana', 'pineapple']

6. Create a list of colors and find the index of a specific color.

In [15]:
color=['red','blue','grey','black','white','orange']
color.index('blue')

1

7. Create a list of 10 numbers and print how many times “5” appears.

In [16]:
n=[1,2,4,5,3,2,4,2,2,3,4,5,6,7,7,6,5,4,65,44,3,12,4,5,5,3,3]
n.count(5)

5

8. Make a list of 6 items and delete the item at index 3.

In [17]:
color=['red','blue','grey','black','white','orange']
print(color)
color.pop(3)
color

['red', 'blue', 'grey', 'black', 'white', 'orange']

['red', 'blue', 'grey', 'white', 'orange']

9. Create a list of animals and add three more animals using extend().

In [18]:
animal=['cat','tiger','dog']
animal1=['horse','cow','deer']
print(animal)
animal.extend(animal1)
animal

['cat', 'tiger', 'dog']

['cat', 'tiger', 'dog', 'horse', 'cow', 'deer']

10. Create a list and remove the last item using pop().

In [19]:
animal=['cat', 'tiger', 'dog', 'horse', 'cow', 'deer']
print(animal)
animal.pop()
animal

['cat', 'tiger', 'dog', 'horse', 'cow', 'deer']

['cat', 'tiger', 'dog', 'horse', 'cow']

11. Create a list of prices and sort them in ascending order.

In [34]:
prices=[123,3453,23426,232,235,121]
prices.sort()
prices

[121, 123, 232, 235, 3453, 23426]

12. Make a list of countries and reverse the order of the list.

In [25]:
countries = ['Canada', 'Brazil', 'Germany', 'Japan', 'India', 'South Africa']
print(countries)
countries.reverse()
countries

['Canada', 'Brazil', 'Germany', 'Japan', 'India', 'South Africa']

['South Africa', 'India', 'Japan', 'Germany', 'Brazil', 'Canada']

13. Create a list of words and check if “apple” is in the list.

In [39]:
fruits=['apple','banana','pineapple',"watermelon",'guava']
'apple' in fruits

True

14. Create a list of numbers and print the largest and smallest number.

In [28]:
prices=[123,3453,23426,232,235,121]
print(prices)
print('Max- ',max(prices))
print('Min- ',min(prices))

[123, 3453, 23426, 232, 235, 121]
Max-  23426
Min-  121

15. Make a list of 5 items and print each item using a loop.

In [29]:
ls=['a','b','c','d','e']
for i in ls:
    print(i)

a
b
c
d
e

16. Create two lists and combine them into one list.

In [36]:
ls1=['a','b','c','d','e']
ls2=['f','g','h','i']
print(ls1,'             ',ls2)
ls3=ls1 + ls2
ls3

['a', 'b', 'c', 'd', 'e']               ['f', 'g', 'h', 'i']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

17. Make a list and replace the last item with a new value.

In [37]:
ls3=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(ls3)
ls3[-1]='z'
ls3

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'z']

18. Create a list of numbers and print only the even numbers.

In [47]:
nu=[1,2,3,4,54,5,6,7,8,9,10]
print(nu)
even=[i for i in nu if i%2==0]
even

[1, 2, 3, 4, 54, 5, 6, 7, 8, 9, 10]

[2, 4, 54, 6, 8, 10]

19. Create a list and clear all items from the list.

In [43]:
nu=[1,2,3,4,54,5,6,7,8,9,10]
print(nu)
nu.clear()
nu

[1, 2, 3, 4, 54, 5, 6, 7, 8, 9, 10]

[]

20. Create a list of 5 values and copy it into another list.

In [46]:
lis=[1,3,4,8,3,2,2,2]
print('List 1 =',lis)
lis1=lis.copy()
lis1

List 1 = [1, 3, 4, 8, 3, 2, 2, 2]

[1, 3, 4, 8, 3, 2, 2, 2]