# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [2]:
# Write your answer here
ls=[[1,2,3],[4,5],[6,7,8,9]]
for i in ls:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [3]:
# Write your answer here
ls=[[10,20], [30], [5, 7, 8]]
sum=0
for i in ls:
    for j in i:
        sum+=j
sum

80

## **3. Count how many even numbers are present in a nested list.**

In [4]:
# Write your answer here
ls=[[11,20], [30], [5, 7, 8]]
for i in ls:
    for j in i:
        if j%2!=0:
            print(j)

11
5
7

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [5]:
# Write your answer here
string=[['hello', 'world'], ['python']]
for i in string:
    for j in i:
        print(j.upper())

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [15]:
# Write your answer here
marks=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
k=1
for i in marks:
    sum=0
    for j in i:
        sum+=j
    print(f"Student {k}= ",sum)
    k+=1

Student 1=  255
Student 2=  210
Student 3=  259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [20]:
# Write your answer here
marks=[[30, 70, 25], [75, 40, 65], [48, 92, 79]]
ls=[]
for i in marks:
    for j in i:
        if j>50:
            ls.append(j)
print("numbers greater than 50 from a nested list= ",ls)

numbers greater than 50 from a nested list=  [70, 75, 65, 92, 79]

## **7. Find the largest number inside a nested list.**

In [25]:
# Write your answer here
marks=[[30, 70, 25], [75, 40, 65], [48, 92, 1]]
maximum=0
for i in marks:
    for j in i:
        if j>maximum:
            maximum=j
maximum

92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [28]:
# Write your answer here
ls=[[1,2], [3,4], [5]] 
print(ls)
l1=[]
for i in ls:
    for j in i:
        l1.append(j)
l1

[[1, 2], [3, 4], [5]]

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [3]:
# Write your answer here
ls= [[1,2], [3,-1,-4,4], [5,-1,1,-24]]
for i in ls:
    for j in range(len(i)):
        if i[j]<0:
            i[j]=0
ls

[[1, 2], [3, 0, 0, 4], [5, 0, 1, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [4]:
# Write your answer here
ls= [[1,2], [3,-1,-4,4], [5,-1,1,-24]]
len(ls)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [6]:
# Write your answer here
dic={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
for i in dic.keys():
    print(i)

A
B

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [52]:
# Write your answer here
dic={
  'A': {'age': 15, 'marks': 83},
  'B': {'age': 16, 'marks': 78}
}
for k in dic.keys():
    for k1 in k:
        print(dic[k1]['marks'])
        dic[k1]['marks']=dic[k1]['marks']+5
dic

83
78

{'A': {'age': 15, 'marks': 88}, 'B': {'age': 16, 'marks': 83}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [59]:
# Write your answer here
dic={
  'A': {'age': 15, 'marks': 83},
  'B': {'age': 16, 'marks': 78}
}
for k in dic.keys():
    for k1 in k:
        print(dic[k1].keys())

dict_keys(['age', 'marks'])
dict_keys(['age', 'marks'])

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [77]:
# Write your answer here
dic={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count=0
for i in dic.keys():
    for j in dic[i].keys():
        if j=='math':
            if dic[i][j]>80:   
                count+=1
print("Student scored more than 80 in maths= ",count)

Student scored more than 80 in maths=  1

## **15. Create a new dictionary of students whose age is above 15.**

In [78]:
# Write your answer here
dic1={
    'A':{'age':16,'marks':75},
    'B':{'age':18,'marks':95},
    'C':{'age':17,'marks':55},
    'D':{'age':17,'marks':45},
}
print(dic1)

{'A': {'age': 16, 'marks': 75}, 'B': {'age': 18, 'marks': 95}, 'C': {'age': 17, 'marks': 55}, 'D': {'age': 17, 'marks': 45}}

## **16. Find which student scored highest in science.**

In [85]:
# Write your answer here
dic={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
max='A'
for i in dic.keys():
    if dic[i]['science']>dic[max]['science']:
        max=i
print("Student scored highest in science= ",max)

Student scored highest in science=  A

## **17. Print employees who belong to the HR department from this dictionary.**

In [86]:
# Write your answer here
bic={
    'A':{'department':'HR','salary':54600},
    'B':{'department':'dev','salary':60500},
    'C':{'department':'tester','salary':50500},
    'D':{'department':'HR','salary':40500},
    'E':{'department':'dev','salary':65000}
}
for i in bic:
    if bic[i]['department']=='HR':
        print(bic[i])

{'department': 'HR', 'salary': 54600}
{'department': 'HR', 'salary': 40500}

## **18. Delete all entries where the status is 'inactive'.**

In [92]:
# Write your answer here
bic={
    'A':{'department':'HR','salary':54600,'status':'active'},
    'B':{'department':'dev','salary':60500,'status':'inactive'},
    'C':{'department':'tester','salary':50500,'status':'active'},
    'D':{'department':'HR','salary':40500,'status':'inactive'},
    'E':{'department':'dev','salary':65000,'status':'active'}
}
for i in list(bic.keys()):
    if bic[i]['status']=='inactive':
        bic.pop(i)
bic

{'A': {'department': 'HR', 'salary': 54600, 'status': 'active'},
 'C': {'department': 'tester', 'salary': 50500, 'status': 'active'},
 'E': {'department': 'dev', 'salary': 65000, 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [99]:
# Write your answer here
stock_data = {
    'apple': {'price': 10.50, 'quantity': 150},
    'banana': {'price': 25.00, 'quantity': 300},
    'pineapple': {'price': 5.99, 'quantity': 50}
}
total=0
for i in stock_data.keys():
    total+=stock_data[i]['quantity']
print("Total stock= ", total)

Total stock=  500

## **20. Convert all inner dictionary keys to uppercase.**

In [ ]:
# Write your answer here