### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [20]:
di={'name':'Sumedh','age':25,'city':'kop'}
di

{'name': 'Sumedh', 'age': 25, 'city': 'kop'}

### 2. Create a dictionary and print the value of a specific key.

In [2]:
di={'name':'Sumedh','age':25,'city':'kop'}
print(di)
di['age']

{'name': 'Sumedh', 'age': 25, 'city': 'kop'}

25

### 3. Create a list of 5 numbers and print the second element.

In [3]:
ls=[1,2,3,4,5]
print(ls)
ls[1]

[1, 2, 3, 4, 5]

2

### 4. Add an element "banana" to an existing list.

In [4]:
fruit=['apple','watermelon','pineapple','guava']
print(fruit)
fruit.append('banana')
fruit

['apple', 'watermelon', 'pineapple', 'guava']

['apple', 'watermelon', 'pineapple', 'guava', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [1]:
fruits=['watermelon', 'pineapple', 'guava', 'banana']
print(fruits)
fruits.insert(2,'apple')
fruits

['watermelon', 'pineapple', 'guava', 'banana']

['watermelon', 'pineapple', 'apple', 'guava', 'banana']

### 6. Remove the element 10 from a list.

In [3]:
li=[i for i in range(1,20)]
print(li)
del li[:10]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[11, 12, 13, 14, 15, 16, 17, 18, 19]

### 7. Create a tuple with 4 elements and print the last one.

In [4]:
tu=(1,2,3,4,5,56,6,7,8)
print(tu)
tu[-1]

(1, 2, 3, 4, 5, 56, 6, 7, 8)

8

### 8. Convert a tuple into a list.

In [5]:
li=[11, 12, 13, 14, 15, 16, 17, 18, 19]
print(li,type(li))
tu=tuple(li)
print(tu,type(tu))

[11, 12, 13, 14, 15, 16, 17, 18, 19] <class 'list'>
(11, 12, 13, 14, 15, 16, 17, 18, 19) <class 'tuple'>

### 9. Find the length of a given tuple.

In [6]:
tu=(1,2,3,4,5,56,6,7,8)
print(tu)
len(tu)

(1, 2, 3, 4, 5, 56, 6, 7, 8)

9

### 10. Store 5 student names in a list and print them using a loop.

In [7]:
nm=['Sumedh','Ajinkya','Ruturaj','Aniket','Sham']
for i in nm:
    print(i)

Sumedh
Ajinkya
Ruturaj
Aniket
Sham

### 11. Create two lists and concatenate them.

In [9]:
li1=list(range(1,11))
li2=list(range(11,21))
print(li1)
print(li2)
li1.extend(li2)
li1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 12. Reverse a list without using reverse().

In [10]:
li1=list(range(1,11))
print(li1)
li1[::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [14]:
li3=[12,45,5,7,2,23,4,235,6,436,]
print(li3)
li3.sort(reverse=True)
li3

[12, 45, 5, 7, 2, 23, 4, 235, 6, 436]

[436, 235, 45, 23, 12, 7, 6, 5, 4, 2]

### 14. Create a set with 5 numbers and add a new number.

In [15]:
st={1,2,3,4,5}
print(st)
st.add(6)
st

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 6}

### 15. Remove an element from a set using discard().

In [17]:
st={1,2,3,4,5}
print(st)
st.discard(3)
st

{1, 2, 3, 4, 5}

{1, 2, 4, 5}

### 16. Find the union of two sets.

In [18]:
st1={1,2,3,4,5}
st2={4,5,6,7}
print(st1,st2)
st3=st1|st2
st3

{1, 2, 3, 4, 5} {4, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7}

### 17. Find the intersection of two sets.

In [19]:
st1={1,2,3,4,5}
st2={4,5,6,7}
print(st1,st2)
st3= st1 & st2
st3

{1, 2, 3, 4, 5} {4, 5, 6, 7}

{4, 5}

### 18. Check if a value exists in a set.

In [20]:
st1={1,2,3,4,5}
print(st1)
3 in st1

{1, 2, 3, 4, 5}

True

### 19. Create a set and clear all elements.

In [23]:
st1={1,2,3,4,5}
print(st1)
st1.clear()
st1

{1, 2, 3, 4, 5}

set()

### 20. Convert a list with duplicate values into a set.

In [24]:
ls=[1,2,4,1,12,44,1,2,3,4]
st1=set(ls)
st1

{1, 2, 3, 4, 12, 44}

### 21. Create a dictionary and update the value of a key.

In [25]:
di={'name':'Sumedh','age':25,'city':'kop'}
print(di)
di['city']='Pune'
di

{'name': 'Sumedh', 'age': 25, 'city': 'kop'}

{'name': 'Sumedh', 'age': 25, 'city': 'Pune'}

### 22. Delete a key-value pair from a dictionary.

In [26]:
di={'name':'Sumedh','age':25,'city':'kop'}
print(di)
di.pop('city')
di

{'name': 'Sumedh', 'age': 25, 'city': 'kop'}

{'name': 'Sumedh', 'age': 25}

### 23. Print all keys of a dictionary.

In [30]:
di1={i:i*i for i in range(1,6)}
print(di1)
di1.keys()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

dict_keys([1, 2, 3, 4, 5])

### 24. Print all values of a dictionary.

In [31]:
di1={i:i*i for i in range(1,6)}
print(di1)
di1.values()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

dict_values([1, 4, 9, 16, 25])

### 25. Loop through a dictionary and print key and value.

In [32]:
di1={i:i*i for i in range(1,6)}
for k,v in di1.items():
    print(k,v)

1 1
2 4
3 9
4 16
5 25

### 26. Create a list of numbers and print only even numbers.

In [34]:
li1=[1,2,3,4,5,6,7,8,9]
for i in li1:
    if i%2==0:
        print(i)

2
4
6
8

### 27. Create a tuple and unpack it into 3 variables.

In [35]:
st1={'Sumedh',25,'kop'}
print(st1)
name,age,city=st1
print('Name-',name)
print('Age- ',age)
print('City-',city)

{25, 'kop', 'Sumedh'}
Name- 25
Age-  kop
City- Sumedh

### 28. Check if a number is greater than 10 using a comparison operator.

In [37]:
a=20
print('Value of a- ',a)
a > 10

Value of a-  20

True

### 29. Use the in operator to check if "python" exists in a list.

In [38]:
li2=['a','b','b','v','python']
print(li2)
'python' in li2

['a', 'b', 'b', 'v', 'python']

True

### 30. Use the and operator in a condition.

In [42]:
li2=['a','b','b','v','python']
print(li2)
'a' and 'b' in li2

['a', 'b', 'b', 'v', 'python']

True

### 31. Use the % operator to check if a number is divisible by 5.

In [2]:
x=54
x%5==0

False

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [3]:
print(2**5)

32

### 33. Create two numbers and compare them using >=.

In [4]:
x=50
y=40
x>=y

True

### 34. Create a list and remove the last element using pop().

In [6]:
ls=[1,2,3,4,55,6,7,7,4,3,12]
print(ls)
ls.pop()
ls

[1, 2, 3, 4, 55, 6, 7, 7, 4, 3, 12]

[1, 2, 3, 4, 55, 6, 7, 7, 4, 3]

### 35. Create a list and print its first and last elements.

In [7]:
ls=[1, 2, 3, 4, 55, 6, 7, 7, 4, 3, 12]
print(ls)
print('First Element- ',ls[0])
print('Last Element-  ',ls[-1])

[1, 2, 3, 4, 55, 6, 7, 7, 4, 3, 12]
First Element-  1
Last Element-   12

### 36. Count how many times "apple" appears in a list.

In [8]:
fruits=['apple','banana','pineapple',"watermelon",'guava','apple']
fruits.count('apple')

2

### 37. Create a tuple and check if a value exists using in.

In [9]:
fruits=('apple','banana','pineapple',"watermelon",'guava','apple')
'pineapple' in fruits

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [13]:
di1={i:i*i for i in range(1,6)}
print(di1)
li1=list(di1.values())
print(li1)
type(li1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
[1, 4, 9, 16, 25]

list

### 39. Create a nested dictionary for a student (name, marks, subjects).

### 40. Merge two dictionaries into one.

In [15]:
di1={i:i*i for i in range(1,5)}
di2={i:i*i for i in range(5,9)}
print(di1,di2)
di3= di1|di2
di3

{1: 1, 2: 4, 3: 9, 4: 16} {5: 25, 6: 36, 7: 49, 8: 64}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### 41. Create a set and print the number of elements.

In [20]:
st={1,2,3,4,5,7,5,3,2,4,4}
print(st)
len(st)

{1, 2, 3, 4, 5, 7}

6

### 42. Create a dictionary and print all items using items().

In [22]:
di1={i:i*i for i in range(1,5)}
print(di1)
for key,val in di1.items():
    print(key,val)

{1: 1, 2: 4, 3: 9, 4: 16}
1 1
2 4
3 9
4 16

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [26]:
li=list(range(1,11))
print(li)
for i in li:
    print(i,i*i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

### 44. Multiply two numbers and print the result using *.

In [27]:
n1=40
n2=5
n1*n2

200

### 45. Divide two numbers and print the results using / and //.

In [30]:
n1=40
n2=3
print(n1/n2)
print(n1//n2)

13.333333333333334
13

### 46. Create a list and replace the element at index 1.

In [31]:
li=list(range(1,11))
print(li)
li[1]=11
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 11, 3, 4, 5, 6, 7, 8, 9, 10]

### 47. Create a tuple from user input (3 values).

### 48. Create a set from a string and print all unique characters.

In [5]:
st='Sumedh Sarnaik'
st1=set(st)
st1

{' ', 'S', 'a', 'd', 'e', 'h', 'i', 'k', 'm', 'n', 'r', 'u'}

### 49. Use the is operator to compare two variables.

In [7]:
x=40
y=40
x is y

True

### 50. Create a dictionary and check if a key exists using in.

In [11]:
di1={i:i*i for i in range(1,6)}
di1
4 in di1

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [12]:
n=35
n>10 and n<50

True

### 52. Check if a number is less than 5 or greater than 20 using or.

In [15]:
n=121
n<5 or n>20

True

### 53. Use not to check if a list is not empty.

### 54. Write code to check if a character is a vowel using or.

In [19]:
a='e'
a=='a' or a=='e' or a=='i' or a=='o' or a=='u'

True

### 55. Check if a dictionary has both keys "name" and "age".

In [22]:
di={'name':'Sumedh','age':25,'city':'kop'}
'name' and 'age' in di

True

### 56. Verify if a set contains either 10 or 20.

In [30]:
st={1,2,4,41,2,4,1,20}
if 10 in st or 20 in st:
    print('Present in set')

Present in set

### 57. Use not to check if a number is not equal to 100.

In [31]:
n=101
if not (n==100):
    print("Not equal to 100 ")
else:
    print("Equal to 100")

Not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [35]:
st={'nm':'abc','marks':56,'attendance':76}
if st['marks']>35 and st['attendance']>75:
    print("Student passed")
else:
    print("Student Failed")

Student passed

### 59. Use logical operators to check if a number is positive and even.

In [37]:
n=14
n>0 and n%2==0

True

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [41]:
tu=(1,2,3,5,5,0)
len(tu)>3 and 0 in tu

True